{{{{raw}}}}
  {{#if DEBUG_ENABLED }}
    <spacer size="32"></spacer>
    <container class="debug-table">
      <row class="debug-table__header">
        <columns>
          <spacer size="15"></spacer>
          <center>Variables from payload</center>
        </columns>
      </row>
      <row>
        <columns>
          <spacer size="20"></spacer>
          <ul>
            {{#each payload}}
              <li><strong>{{@key}}:</strong> {{this}}</li>
            {{/each}}
          </ul>
        </columns>
      </row>
    </container>
    <spacer size="32"></spacer>
  {{/if}}
{{{{/raw}}}}
