@import 'settings';
@import 'foundation-emails';

@import 'template/template';
@import 'template/transactions';

.email p  {
  color: #333;
}

.gray {
  background-color: #efefef;
}


.footer p {
  padding-top: 20px;
  font-size: 14px;
}

.footer .columns {
  padding-bottom: 5px;
}

.email {
  border: 2px solid #ddd;
}

.main-content {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

img.logo {
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
